{% extends "layout.html" %}
{% block body %}
<div class="main">
<h1>{{movie.name}} &mdash; {{movie.released_at.year}}</h1>
<h2> Average rating: {{ "%.2f"%average }}</h2>


<button class = "btn"><a href="{{movie.imdb_url}}">IMDB Details</a></button>
{% if user_rating %}
<h2>Your rating: {{ user_rating.rating }}</h2>
{% elif prediction %}
<h2>We predict you will rate this movie {{ "%.2f"%prediction }} out of 5.</h2>
{% endif %}
<h2>Rate this movie</h2>
<form action="{{url_for('rate_movie', id=movie.id)}}" method="post">
    <select name="rating">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <button class="btn btn-medium btn-primary" type="submit">Submit</button>
</form>
<button class = "btn"><a href="{{url_for("my_ratings")}}">My Raitings</a></button>
<button class = "btn"><a href="{{url_for("logout")}}">Logout</a></button>
</div>

{% endblock %}
